<?xml version="1.0"?>
<model>
    <name>Grass Terrain</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Daniel Rincón</name>
        <email>adrinconr@udistrital.edu.co</email>
    </author>
    <description>
        Custom Terrain for this robot.
    </description>
</model>